.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.lapTime > table {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.lapTime > tr {
  display: flex;
  align-items: center;
}

.lapTime > td {
  border: dotted rgb(0, 0, 202);
  border-collapse: collapse;
  border-spacing: 0px;
  margin: 0px;
  padding: 5px;
}